@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&display=swap');
body{background-color: #9BA4B5;}

#currents{
    margin-top: 15%;
    margin-left: 30%;
    color: #272829    ;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

@media screen and (max-width: 400px) {
    #current{
        margin-left: 5%;
        padding-left: 5%;
        background-color: black;
    }

    .data {
        font-family: 'Borel', cursive;
        font-size: 30%;
      }
    .data input{
        width: 90%;
        font-size: 70%;
        color: rgb(94, 48, 48);
    }
}