@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{background-color: #9BA4B5;}

#currents{
    margin-top: 15%;
    margin-left: 30%;
    color: #272829    ;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}